In [1]:
# Read the book

In [12]:
import numpy as np
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
%matplotlib inline

In [3]:
data = load_iris()

In [4]:
data.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [5]:
df = pd.DataFrame(data.data, columns= data['feature_names'])
df['species'] = data['target_names'][data.target]
df['target'] = data.target
df

     sepal length (cm)  sepal width (cm)  ...    species  target
0                  5.1               3.5  ...     setosa       0
1                  4.9               3.0  ...     setosa       0
2                  4.7               3.2  ...     setosa       0
3                  4.6               3.1  ...     setosa       0
4                  5.0               3.6  ...     setosa       0
..                 ...               ...  ...        ...     ...
145                6.7               3.0  ...  virginica       2
146                6.3               2.5  ...  virginica       2
147                6.5               3.0  ...  virginica       2
148                6.2               3.4  ...  virginica       2
149                5.9               3.0  ...  virginica       2

[150 rows x 6 columns]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-2], df.iloc[:, -1], test_size =0.33, random_state =42)

In [7]:
clf = LogisticRegression(C=1.0, max_iter = 100, multi_class='ovr', random_state= 42, solver = 'lbfgs')

In [8]:
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
y_hat_train = clf.predict(X_train)
y_hat_test = clf.predict(X_test)

In [10]:
print(classification_report(y_train, y_hat_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        31
           1       0.94      0.89      0.91        35
           2       0.89      0.94      0.91        34

    accuracy                           0.94       100
   macro avg       0.94      0.94      0.94       100
weighted avg       0.94      0.94      0.94       100

In [13]:
print(accuracy_score(y_train, y_hat_train))

0.94

In [14]:
print(accuracy_score(y_test, y_hat_test))

0.96